.content-section {
  display: inline-flex;
  align-items: center;
  text-align: left;
  .content-text {
    flex-direction: column;
  }
}
.container {
  margin-bottom: 20px;
  .botton-name {
    width: 100%;
    .btn-primary {
      color: #fc3a52;
      background-color: #ffffff;
      border: 2px solid #fc3a52;
      text-align: left;
      font-size: 16px;
      width: 220px;
      text-align: center;
    }
  }

  h3 {
    display: inline-block;
    height: auto;
    font-family: Raleway;
    font-size: 42px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: normal;
    width: 100%;
  }
  p {
    height: auto;
    font-family: Raleway;
    font-size: 22px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.45;
    letter-spacing: normal;
  }
}
